<div class="videos-show">
  <div class="columns">
    <div class="column col-3 hide-sm">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="column col-9 col-xs-12">
      <div class="columns">
        <div class="column col-12 col-xs-12">
          <div class="vs_vthmb">
            <% if @video.player.blank? %>
              <%= image_tag @video.thumbnail %>
            <% else %>
              <%= raw @video.player %>
            <% end %>
          </div>
          <div class="vs_vttl">
            <h1><%= @video.title %></h1>
          </div>
          <div class="vs_vtg">
            <ul>
              <% @video.tags.each do |tag| %>
                <%= link_to search_videos_path(search: tag.to_s) do %>
                  <li class="label label-default">
                    <i class="icon ion-ios-pricetag-outline"></i>&nbsp;<%= tag %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class="vs_vmt">
            <span>
              <i class="icon ion-play"></i>&nbsp;<%= @video.pv + 5432 %>
            </span>
            <span>
              <i class="icon ion-clock"></i>&nbsp;<%= @video.duration %>
            </span>
            <%= link_to "動画が見れません！", report_video_path(@video) %>
          </div>
        </div>
        <div class="column col-12 col-xs-12">
          <div class="text-center heading">
            おすすめ動画
          </div>
          <div class="columns">
            <div class="column col-4 col-xs-12 tile-gapless">
              <div class="admax-native" data-admax-id="9968d3ab6fa61aeefb45c668d996e340"></div>
            </div>
            <% @related_videos.each do |video| %>
              <%= render 'shared/video_tile', video: video %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
