<div class="container home-index" style="max-width: 1280px">
  <div class="columns">
    <div class="column col-3 hide-sm">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="column col-9 col-xs-12">
      <div class="columns text-center" style="height: 122px;">
        <!-- admax -->
        <div style="margin: 16px auto">
          <script src="//adm.shinobi.jp/s/e96c22a6c21662e17ba2bb0564ef6a27"></script>
        </div>
        <!-- admax -->
      </div>
      <div class="columns">
        <div class="column col-12 col-xs-12">
          <ul class="tab tab-block">
            <% case params[:type] %>
            <% when 'latest' %>
              <li class="tab-item"><%= link_to "人気", root_path %></li>
              <li class="tab-item active"><%= link_to "新着", root_path(type: 'latest') %></li>
            <% else %>
              <li class="tab-item active"><%= link_to "人気", root_path %></li>
              <li class="tab-item"><%= link_to "新着", root_path(type: 'latest') %></li>
            <% end %>
          </ul>
        </div>
        <div id="videos" class="column col-12 col-xs-12">
          <div class="page columns">
            <% @videos.each do |video| %>
              <%= render 'shared/video_tile', video: video %>
            <% end %>
          </div>
          <div class="text-center">
            <%= paginate @videos %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
