<div class="videos-show">
  <div class="columns">
    <div class="column col-3 hide-sm">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="column col-9 col-xs-12">
      <div class="columns">
        <div class="column col-12 col-xs-12">
          <div class="vs_vthmb">
            <%= image_tag @video.thumbnail %>
          </div>
          <div class="vs_vttl">
            <h1><%= @video.title %></h1>
          </div>
          <div class="vs_vtg">
            <ul>
              <% @video.tags.each do |tag| %>
                <%= link_to search_videos_path(search: tag.to_s), style: "text-decoration: none;" do %>
                  <li class="label label-default">
                    <i class="icon ion-ios-pricetag-outline"></i>&nbsp;<%= tag %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class="vs_vmt">
            <span class="float-left">
              <i class="icon ion-play"></i>&nbsp;<%= @video.pv %>
            </span>
            <span class="float-right">
              <i class="icon ion-clock"></i>&nbsp;<%= @video.duration %>
            </span>
          </div>
        </div>
        <div class="column col-12 col-xs-12">
          <div class="text-center" style="padiing: 16px; font-size: 16px; font-weight: bold;">
            おすすめ動画
          </div>
        </div>
        <% @related_videos.each do |video| %>
          <div class="column col-4 col-xs-12" style="padding: 0px 10px;">
            <%= link_to video_path(video), style: "text-decoration: none;" do %>
              <div class="tile">
                <div class="tile-icon">
                  <%= image_tag video.thumbnail, style: "width: 100px; height: 66px;" %>
                </div>
                <div class="tile-content">
                  <h2 style="font-size: 1em; font-weight: bold; margin: 0px;"><%= video.title %></h2>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
