<div class="column col-4 col-xs-12 tile-gapless video">
  <%= link_to video_path(video) do %>
    <div class="tile tiled">
      <div class="tile-icon">
        <%= image_tag video.thumbnail %>
      </div>
      <div class="tile-content">
        <h2><%= video.title %></h2>
        <div class="meta">
          <span>
            <i class="icon ion-play"></i>&nbsp;<%= video.pv + 5432 %>
          </span>
          <span>
            <i class="icon ion-clock"></i>&nbsp;<%= video.duration %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
