<!DOCTYPE html>
<html>
  <head>
    <title>Annin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <%= stylesheet_link_tag 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="cjk">
    <header>
      <div class="container" style="border-bottom: solid 1px #ccc;">
        <div class="navbar">
          <section class="navbar-section">
            <%= link_to root_path, class: "navbar-brand" do %>
              <%= image_tag 'logo', style: 'height: 26px;vertical-align:bottom;' %>
            <% end %>
          </section>
          <section class="navbar-section hide-xs">
            <div class="input-group input-inline">
              <input class="form-input" type="text"/>
              <button class="btn btn-primary input-group-btn">検索</button>
            </div>
          </section>
        </div>
      </div>
      <div class="container show-xs">
        <div class="navbar">
          <div class="parent">
            <% @tags.each do |tag| %>
              <div class="label label-primary child"><i class="icon ion-ios-pricetag"></i>&nbsp;<%= tag %></div>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
